* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

header {
  position: fixed;
  padding: 1rem;
  background-color: #f1c40f;
  width: 100%;
  height: 6rem;
  top: 0;
  left: 0;
  z-index: 9999;
}

h1 {
  font-family: monospace;
  font-size: 2.75rem;
  font-weight: 50rem;
  margin-bottom: 1.5rem;
  color: rgb(14, 3, 3);
  text-align: center;
  z-index: 10000;
}

h2 {
  font-family: monospace;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.3rem;
  margin-top: 6rem;
  text-align: center;
  padding: 2rem;
  color:#454d4f
}
#formulario-entrenamientos {
  background-color: #292c2f;
  padding: 1rem;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

form label {
  display: block;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
  width: 100%;
  font-size: 1rem;
}

form input[type="text"],
form input[type="number"],
form input[type="date"],
form select {
  background-color: #454d4f;
  width: 80%;
  height: 1rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5rem;
  font-size: 1.2rem;
  font-weight: 600;
  /* transition: border-color 0.2s ease-in-out; */
}

form input[type="text"]:focus,
form input[type="number"]:focus,
form input[type="date"]:focus,
form select:focus {
  outline: none;
  border-color: var(--color-primary);
}

.flex-container {
  width: 85%;
  height: 3.5rem;
  background-color: #354320;
  color: #fff;
  cursor: pointer;
  border: none;
  text-align: center;
  justify-content: center;
  padding: 1rem 1rem;
  display: flex; /* convertir el botón en un bloque */
  margin: auto; /* centrar horizontalmente */
  position: relative; /* agregar posición relativa */
  margin-top: 1rem;
  transform: translateY(-80%); /* centrar verticalmente */
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* #tabla-entrenamientos-body {
} */
tr {
  width: 90%;
  margin: auto; /* centrar horizontalmente */
  position: relative; /* agregar posición relativa */
  transform: translateY(-23%); /* centrar verticalmente */
  text-align: center;
  justify-content: center;
}


th {
  text-align: center; 
  position: relative;
  display: inline-block; /* convertir el botón en un bloque */
  margin: 1.65rem;
  transform: translateY(-50%); /* centrar verticalmente */
  max-width: 90%;
  font-size: 1.5rem;
  }

button[type="submit"] {
  position: fixed;
  background-color: #669d0e;
  color: #fff;
  cursor: pointer;
  border: none;
  text-align: center;
  padding: 2.5rem 1.1rem;
  display: block; /* convertir el botón en un bloque */
  margin: auto; /* centrar horizontalmente */
  position: relative; /* agregar posición relativa */
  top: 7rem; /* mover el botón hacia abajo */
  transform: translateY(-10%); /* centrar verticalmente */
  margin-top: 0rem;
  border-radius: 7rem;
  margin-bottom: 20rem;
  font-size: 1.1rem;
  font-weight: 400rem;
}


/* // La primera línea especifica que estas reglas solo se aplicarán a los botones de envío del formulario que tienen un atributo de tipo "submit" */
button[type="submit"]:hover {
  background-color: #f60606;
  cursor: pointer;
  border:none;
}



#reset-button {
  position: fixed;
  background-color: #2d09c0;
  color: #fff;
  cursor: pointer;
  border: none;
  text-align: center;
  padding: 2.5rem 1.5rem;
  display: block; /* convertir el botón en un bloque */
  margin: auto; /* centrar horizontalmente */
  position: relative; /* agregar posición relativa */
  top: 50rem; /* mover el botón hacia abajo */
  transform: translateY(-50%); /* centrar verticalmente */
  border-radius: 5rem;
  margin-bottom: 50rem;
  font-size: 1.2rem;
  font-weight: 400rem;
}

#reset-button:hover {
  background-color: #6d4af8;
}

footer {
  /* position: fixed; */
  background-color: #333;
  width: 100%;
  height: 7rem;
  margin-bottom: 0rem;
}

h3 {
  font-family: monospace;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.3rem;
  margin-top: 2rem;
  color: #fff;
  text-align: center;
  padding: 2rem;
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1rem;
  }
}

@media (max-width: 767px) {
  h2 {
    font-family: monospace;
    color: var(--color-secondary);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1rem;
  }
}

@media (max-width: 767px) {
  form button[type="submit"] {
    background-color: var(--color-quinary);
    color: rgb(255, 255, 255);
    padding: 0.7rem 1.4rem;
    border: none;
    border-radius: 5rem;
    font-size: 1.2rem;
    font-weight: 400rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  table,
  thead,
  body,
  th,
  td,
  tr {
    display: none;
  }

  tbody tr {
    border: none;
  }

  th {
    display: none;
  }

  td {
    display: inline;
    text-align: center; /* Agregar esta línea para centrar horizontalmente las celdas */
  }

  tbody td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    width: 100%;
    text-align: center; /* Agregar esta línea para centrar horizontalmente el contenido del pseudo-elemento */
  }
}

@media (max-width: 767px) {
  form input[type="text"],
  form input[type="number"],
  form input[type="date"],
  form select {
    background-color: #454d4f;
    width: 95%;
    height: rem;
    padding: 0.5rem;
    margin-bottom: 0.25rem;
    border: 1px solid rgb(43, 39, 39);
    border-radius: 5rem;
    font-size: 1.2rem;
    font-weight: 600;
    transition: border-color 0.2s ease-in-out;
  }
}
